header {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f8bed6;
    background-size: cover;
    position: fixed;
    z-index: 2;
    text-align: center;
}

body {
    background-image: url(../img/white-waves/white-waves/white-waves.png);
}
nav ul {
	list-style-type: none;
	margin: 0px; 
}
nav ul a,
nav ul a:visited {
	text-decoration: none;
	color: #333;
}
section {
    padding: 0px 30px;
}
.header-color {
    color: #006699
}
.header-color2 {
    color: #008839
}
#navigation {
	font-size: 1.3em;	
	line-height: 1.4em;
}
.container {
	margin: 0px auto;
	clear: both;
}
#main {
	margin: 0px;
	padding: 0px 25px;
	width: 60%;
	float: left;
	margin-bottom: 30px;
}
#main-nav ul li a {
	width: 20%;
	padding: 5px;
	display: block;
	float: left;
	text-align: center;
	background: #36f;
	color: #efefef;
	border: 1px solid #fff;
}
#main-nav a:hover, 
#main-nav a:focus, 
#main-nav a:active {
	background: #fff;
	color: #36f;
	border: 1px solid #36f;
}

#top {
    padding: 190px 0px 0px 0px;
}
h2 {
    padding: 0px 265px 0px 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
article p {
	text-align: justify;
	text-indent: 25px;
	padding: 10px;
	width: 60%;
}
.hass-image {
    float: left;
    position: relative;
}
.hero-image {
    float: right;
    position: relative;
}
.tri-image {
    float: left;
    position: relative;
}
#club-nav	{
	font-size: 1.0em;	
}
#club-nav a:visited,
#club-nav a {
    text-decoration: none;
}
#club-nav a:hover,
#club-nav a:focus,
#club-nav a:active {
	text-decoration: underline;
}
.club{
    clear: both;
    padding: 30px 30px 30px 30px;
}
footer {
    clear: both;
	padding:20px 0px;
    text-align: center;
}
th {
    background-color: #f8bed6;
}
