

blockquote {
    font-size: 1.3em;
    text-decoration: wavy
}

.header-color {
    color: #006699
}
footer {
    text-align: center;
}

#club-nav	{
	font-size: 1.0em;	
}
#club-nav a:visited,
#club-nav a {
    text-decoration: none;
}
#club-nav a:hover,
#club-nav a:focus,
#club-nav a:active {
	text-decoration: underline;
}

.hero-image {
	float:right;	
}

.club{
	clear: both;
}
